body {
  background-color: #f5f3f9;
  font-family: "Arial", sans-serif;
}

h1 {
  color: #c85d9e;
  text-align: center;
}

p {
  font-size: 18px;
  color: #e69a8e;
  line-height: 1.6;
}

a {
  background-color: #00ffff;
  color: #00000;
}

img {
  width: 60%;
  height: 60%;
  object-position: center;
  box-shadow: 10px 10px #00ffff;
}
